
.App {
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.Footer {
    border: .25rem black solid;
}

.NavBar {
    border: .25rem black solid;
}

.Componente {
    border: .125rem red solid;
}